<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshAll($event)">
    <ion-refresher-content>
      Slide to Refresh ..
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content *ngIf="teamStanding">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <h2>Record: {{teamStanding.wins}} W - {{teamStanding.losses}} L</h2>
            <p>Coach: {{team.coach}}</p>
          </ion-col>
          <ion-col width-50 text-right>
            <button ion-button outline (click)="toggleFollow()" *ngIf="!isFollowing">
                <ion-icon name="star"></ion-icon> &nbsp; Add Favorite
            </button>
            <button ion-button (click)="toggleFollow()" *ngIf="isFollowing">
                <ion-icon name="star"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-toggle [(ngModel)]="useDateFilter" (ionChange)="dateChanged()"></ion-toggle>
        <ion-label>Date Filter:</ion-label>
        <ion-datetime displayFormat="M/D/YYYY" pickerFormat="M/D/YYYY" [(ngModel)]="dateFilter" (ionChange)="dateChanged()" [(disabled)]="!useDateFilter">
        </ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="games">
    <ion-item *ngFor="let game of games" (click)="gameClicked($event,game)">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <p>{{game.time | date:'M/d/yy'}}</p>
            <p>{{game.time | date:'shortTime'}}</p>
          </ion-col>
          <ion-col col-6>
            <p>{{game.homeAway}}: {{game.opponent}}</p>
            <p>{{game.location}}</p>
          </ion-col>
          <ion-col col-2>
            <h4>{{game.scoreDisplay}}</h4>
            <ion-badge [color]="getScoreDisplayBadge ( game )">{{getScoreWorL(game)}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>